<!-- this will be optimized but the idea is to force the user to enter his email after his registration -->
<html>
    <head>
        <title> Signin Totem </title>
    </head>

    <body>
        <h3> Hey ! Last time we bother you. We need your email to help you interact with other members :) </h3>

        <form method="POST" action="/addemail">
            email: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" id="email" name="email" /><br />
            <input type="submit" value="submit" />
        </form>
    </body>

</html>