<!-- How I see it:
This is gonna be a page with public info ? Displaying some stands, navigating to information pages etc
Sort of vitrine website and will let you signup and login etc ...
 -->

<html>
    <h1> Hello, this is totem homepage </h1>
    <body>

        <a href="/projectlist"> <button type="button"> See all projects </button> </a>
        </br>
        <% if (!auth) { %>
        <a href="/auth/facebook"> <button type="button"> login </button> </a> <%} %>
        
        <% if (auth) { %>
        <a href="/newprojectpage"> <button type="button"> Create your own project </button> </a> <%} %>
        </br>
        <% if (auth) { %>
        <a href="/logout"> <button type="button"> logout </button> </a> <%} %>
        </br>
        <% if (auth) { %>
        <a href='/profile/<%= userid %>'> <button type="button"> profile </button> </a> <%} %>        
        
        </br>
            <h1> 10 Most popular projects </h1>
            
        <% for(i=0; i<count; i++)  {%> 
        <a href='/projects/<%= projects[i]._id %>'> </br> <button type="submit"><%= projects[i].name %>  <% } %> </button> 
    </body>

</html>