<!-- How I see it:
This will be the signin form. First filled manually but then this is supposed to be replaced with a facebook authentification system
NB: from the form, it's the name that's gonna be parsed. "id" is used in the DOM
-->

<html>
    <head>
        <title> Login Totem </title>
    </head>

    <body>
        <h3> Wanna log in ? </h3>

        <form method="POST" action="/loginform">
            username: <input type="text" id="username" name="username" /><br /> 
            password: &nbsp<input type="text" id="password" name="password" /><br />
            <input type="submit" value="submit" />
        </form>
    </body>

</html>